a{ text-decoration: none; }
.header{ height: 60px; padding-left: 30px; padding-right: 30px; background: black; }
#logo{ height: 50px; padding: 5px; font-size: 30px; font-family: 'The Girl Next Door'; color: white;}
.main_img{ width: 600px; height: 600px; position: absolute; background: url('/images/background.png'); }
.main_img img{ width: 280px; height: 280px; position: absolute; top: 60px; left: 90px;}
.body-text{ position: absolute; top: 130px; right: -1px; width: 500px; font-family: helvetica; }
.body-text h1{ font-size: 36px; color: white; margin-bottom: 20px; margin-right: 20px; text-align: left;}
.body-text p{ font-size: 24px; font-family: helvetica; width: 400px; margin: auto; margin-top: 20px;}
.body-text a{ color: white; }
.menu{  font-family: helvetica; width: 600px; height: 30px; position: absolute; bottom: 0px; right: 0px;}
.menu li a{ color: white; background:  black; float: right; height: 20px; padding: 5px; text-align: center; width: 90px;}
.menu .selected{ background: #6FB7E9; }
.menu li a:hover{  background: #6FB7E9; }
.directions-top{ background: #6FB7E9;padding-left: 30px; padding-right: 30px;}
.main-top{ background: #6FB7E9;padding-left: 30px; padding-right: 30px; min-height: 390px; overflow: hidden;}
.instructor-top{ background: #6FB7E9;  min-height: 700px; overflow: hidden;}
.schedule-top{ background: #6FB7E9;  height: 500px; overflow: hidden;}
.main-bottom{ background: #E9F2F9; height: 200px;}
.directions-bottom{ background: #E9F2F9; }
.options{ padding-top: 30px; }
.options a{ color: black; padding: 5px; z-index: 9999; position: relative; width: 280px; margin: 15px; text-align: left; font-family: helvetica; float: left;}
.options a:hover{ background: #FFFFFF; }
.options img{ width: 75px; height: 75px;}

.options .option-text{ float: right; width: 180px; margin: 5px; padding: 0px;}
.footer{ background: #E9F2F9; color: gray; font-family: helvetica; font-size: 12px; text-align: center; padding-top: 0px; padding-bottom: 20px;}
.footer .body div{ display: inline; padding: 5px;}
.footer a img{width: 36px; height: 36px; position: relative; top: 10px; margin-left: 5px;}
.body{ width: 970px; position: relative; margin: auto; } 
.detailed-text h1{font-size: 36px; font-family: helvetica; color:white; padding-top: 30px; padding-bottom: 30px;}
.detailed-text img{ position: relative; left: 100px; }
#imgdiv img{ width: 100px; height: 100px;}
#main-info{ position: absolute; left: 300px;  width: 600px;}
.detailed-text p{font-size: 14pt; font-family: helvetica; margin-bottom: 10px; }
.detailed-text a{ color: white; }
#instructor-info{ position: relative;}
#instructor-info iframe{ float: right;  margin-left: 5px; margin-right: 5px;}
#instructor-info p{ display: block;}
#instructors a{ margin: 5px; padding: 5px; color: #E9F2F9;  background: #3C8DC5;  display: inline block; width: 300px; position: relative; left: 0; float: left; }
#instructors a:hover{ background: #B2D1E5; color: #3C8DC5; }
#instructors img{ width: 100px; height: 100px; position: relative; left: 0;}
#instructors div{ width: 180px; float: right; min-height: 150px; font-size: 10pt;}
#instructors div p{ font-size: 12pt; padding-top: 5px;} 
#instructors div h3{ padding: 5px 0 5px 0; }

#directions{ margin-top: 30px;}
#parking{ clear: both; }
.directions-and-parking h3{ font-size: 20pt; font-family: helvetica; color:black; }
.directions-and-parking h2{ color: white; font-size: 20pt; font-family: helvetica; margin-bottom: 30px; }
#icon img{ width: 100px; height: 100px;}
#icon {position: absolute; top: 15px; right: 15px; width: 120px; height: 120px; font-family: 'The Girl Next Door'; text-align: center;}
.place-image{ float: right; width: 400px; height: 200px; }
.place-image img{ width: 380px; height: 190px; padding: 10px; padding-bottom: 30px; background: #FFF;}
.place-image span{ position: relative; font-size: 11px; top: -22px; left: 10px; font-family: helvetica;}
a.place-image { color: black; z-index:9999;}
#parking a{ float: left; }

#parking p{ position: relative; left: 30px; margin-right: 30px; }

.directions-and-parking p{ font-family: helvetica; margin-top: 10px; margin-bottom: 10px; font-size: 14pt;}
#schedule iframe{ float: left; }
#schedule p{ float: left; margin-left: 30px;}
#mapkey{ position: relative; left: 30px; top: 240px; font-family: helvetica; background: rgba(256,256,256,0.8);}
#mapkey tr td{  padding-bottom: 5px; padding-right: 5px; padding-left: 5px; }
#mapkey{ -moz-border-radius: 5px; border-radius: 5px; padding: 5px}