body{
    background: url('background.jpg');
}

*{
    text-decoration: none;
}

#head{
    color: black;
}

#main{
    width: 960px;
    padding: 20px;
    min-height: 650px;
    margin: auto;
    margin-top: 10px;
    font-family: Myriad Pro, Helvetica, Sans Serif;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: rgba(256,256,256,.9);
}

.head{
    height: 120px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 20px;
    background: rgba(256,256,256,.9);
}

.head h1{
    height: 50px;
    padding: 30 0 0 30;
    font-size: 50px;
}

.head ul{
    margin-top: 30px;
}

.menu li a{
    float: right;
    padding: 10px;
    background: rgba(256,256,256,.2);
    font-size: 25px;
    text-decoration: none;
}

.menu li a:hover{
    background: #CCC;
}

.body{
    margin-top: 50px;
}

#body-text{
    float: left;
    width: 500px;
    font-size: 24px;
    text-align: justify;
}

#body-text div{
    display: inline;
    background: lightgray;
}

.footer{
    position: relative;
    width: 960px;
    margin: auto;
}

.footer iframe{
    position: relative;
    left: 750px;
    top: -650px;
}

#body-text p{
    margin-bottom: 20px;
}

#image{
    float: right;
    width: 400px;
}

#image img{
    max-height: 400px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}